name: Metrics
on:
  schedule: [{cron: "0 */1 * * *"}]
  workflow_dispatch:
  push: {branches: ["main", "master"]}
jobs:
  github-metrics:
    if: false  # Temporarily disabled
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: WakaTime
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.wakatime.svg
          token: NOT_NEEDED
          base: ""
          plugin_wakatime: yes
          plugin_wakatime_sections: time, languages, languages-graphs, editors, os
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
